@import '~bulma/bulma.sass';

.body 

.hero {
  background-image: url('https://www.miesarch.com/uploads/images/works/3319-21649.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-body {
  flex-direction: column;
  justify-content: center;
}

.image-container {
  height: 100vh;
}

.artwork {
  width: 100vw;
}

.colour-button {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.columns {
  justify-content: space-between;
  margin: 0;
}

.show {
  p {
    color: white;
  }
  background-color: rgba(0, 0, 0, 0.7);
  display: block; 
  opacity: 0.7;
}

.hidden {
  opacity: 0;
}

.search-box{
  display: flex;
  flex-wrap: wrap;
  max-width: 30%;
  background-color: rgba(255, 255, 255, 0.4);
}

.image {
  object-fit: contain;
}

.image-container {
  position: relative;
}

.artwork-info {
  position: absolute;
  top: 0;
  right: 0;
}

.artwork-info-button {
  position: absolute;
  top: 0;
  left: 0;
}

.return-button {
  position: absolute;
  bottom: 0;
  left: 0;
}